.app__profiles {
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.head-text1 {
  font-size: 3rem;
  text-align: left;
  margin-bottom: 2.5rem;

  span {
    color: var(--secondary-color);
  }
}

.app__profile-item {
  display: flex;
  margin-bottom: 5rem;
  align-items: right;
  flex-direction: column;

  .p-text {
    svg {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }

    margin-left: 17rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    color: black;
    padding-right: 2rem;
  }

  .subscribe {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    padding-right: 8rem;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }

  @media screen and (max-width: 500px) {
    margin: 1rem;

    .head-text1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .app__profiles {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .app__profile-item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .subscribe {
      width: 100%;
      font-size: 1.5rem;
      padding: 0px;
    }

    .p-text {
      margin: 1rem;
      padding: 0px;
    }
  }
}
